<!--HHOME SLIDER AREA-->
<div class="slider-area">
    <div class="pogoSlider">
        <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background:url({{ url('<front>') }}/{{ directory }}/dist/images/slider/slide_1.jpg) no-repeat scroll 0 0 / cover;">
            <h2 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="700">Welcome to</h2>
            <h1 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="1500"><span>OWL</span> Cafe & Restaurant</h1>
            <h3 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="2300"><a href="reservation.html">Reservation Now</a></h3>
        </div>
        <div class="pogoSlider-slide" data-transition="fade" style="background:url({{ url('<front>') }}/{{ directory }}/dist/images/slider/slide_2.jpg) no-repeat scroll 0 0 / cover;">
            <h2 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="700">Our menus</h2>
            <h1 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="1500">See What's <span>new</span> today</h1>
            <h3 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="2300"><a href="#menu">Todays Menu</a></h3>
        </div>
        <div class="pogoSlider-slide" data-transition="fade" style="background:url({{ url('<front>') }}/{{ directory }}/dist/images/slider/slide_3.jpg) no-repeat scroll 0 0 / cover;">
            <h2 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="700">Get ready</h2>
            <h1 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="1500">to <span>Join</span> with us</h1>
            <h3 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="2300"><a href="reservation.html">Book A Table</a></h3>
        </div>
    </div>
</div>
<!--HOME SLIDER AREA END-->
