<!--FOOER AREA-->
    <div class="footer-area">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="footer-top section-padding text-center">
                        <div class="footer-logo">
                            <a href="#"><img src="{{ url('<front>') }}/themes/d8training/dist/images/footer_white_logo.png" alt=""></a>
                        </div>
                        <div class="footer-address">
                            {% if (contact_details.address) -%}
                                <p>{{ contact_details.address }}</p>
                            {%- endif %}
                            {% if (contact_details.email) -%}
                                <p><a href="mailto:{{ contact_details.email }}">{{ contact_details.email }}</a></p>
                            {%- endif %}
                            {% if (contact_details.telephone) -%}
                                <p><a href="callto:{{ contact_details.telephone }}">{{ contact_details.telephone }}</a></p>
                            {%- endif %}

                        </div>
                        <div class="footer-social-bookmark">
                            <ul>
                                {% for key,link in social_links %}
                                    {% if (link) -%}
                                        <li><a href="{{ link }}"><i class="fa fa-{{ key }}"></i></a></li>
                                    {%- endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Teams of use</a></li>
                            <li><a href="#">Privicy Policy</a></li>
                            <li><a href="#">SiteMap</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="footer-copyright">
                        <p>&copy; 2017 <a href="#">Owl Restaurant</a> All Right Reserved. Coded by <a href="http://themeforest.net/user/bdexpert">BDEXPERT</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOER AREA END-->
