<!--EVENT AREA-->
<section class="event-area section-padding">
    <div class="event-area-bg" style="background:url({{ url('<front>') }}/{{ directory }}/dist/images/event/event_area_bg.jpg)"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Events</h2>
                    <h3>Next Comeing</h3>
                </div>
            </div>
        </div>
        <div class="row event-list">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="single-event">
                    <div class="event-img">
                        <img src="{{ url('<front>') }}/{{ directory }}/dist/images/event/event_1.jpg" alt="">
                    </div>
                    <div class="event-content">
                        <div class="event-date">
                            <p><span>22</span>December</p>
                        </div>
                        <div class="event-details">
                            <h3><a href="single-event.html">Ktherine Ryan to host Event Awards 2017</a></h3>
                            <p class="event-meta"><a href="#">29 September 2017 </a>- 196 Manhattan, MY, USA</p>
                            <p>Comedian Katherine Ryan will present this year's Event Awards on 13 October at the iconic Eventim Apollo in Hammersmith, London.</p>
                        </div>
                    </div>
                </div>
                <div class="single-event">
                    <div class="event-img">
                        <img src="{{ url('<front>') }}/{{ directory }}/dist/images/event/event_2.jpg" alt="">
                    </div>
                    <div class="event-content">
                        <div class="event-date">
                            <p><span>22</span>December</p>
                        </div>
                        <div class="event-details">
                            <h3><a href="single-event.html">Ktherine Ryan to host Event Awards 2017</a></h3>
                            <p class="event-meta"><a href="#">29 September 2017 </a>- 196 Manhattan, MY, USA</p>
                            <p>Comedian Katherine Ryan will present this year's Event Awards on 13 October at the iconic Eventim Apollo in Hammersmith, London.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--EVENT AREA END-->
