<!--PROMOTIONS AREA-->
<section class="promotions-area section-padding">
    <div class="promotion-area-bg" style="background:url({{ url('<front>') }}/{{ directory }}/dist/images/promotions/promotions_area_bg_1.jpg)"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Specials</h2>
                    <h3>Specials Promotion</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-promotions text-center">
                    <div class="promotions-img">
                        <img src="{{ url('<front>') }}/{{ directory }}/dist/images/promotions/promo_1.jpg" alt="">
                        <div class="pakage-rate">
                            <p>Form <span>$15</span></p>
                        </div>
                    </div>
                    <div class="promotions-details">
                        <h4>Special Breakfast</h4>
                        <a href="#" class="read-more">Order now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-promotions text-center">
                    <div class="promotions-img">
                        <img src="{{ url('<front>') }}/{{ directory }}/dist/images/promotions/promo_2.jpg" alt="">
                        <div class="pakage-rate">
                            <p>Form <span>$25</span></p>
                        </div>
                    </div>
                    <div class="promotions-details">
                        <h4>Special Lunch</h4>
                        <a href="#" class="read-more">Order now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-promotions text-center">
                    <div class="promotions-img">
                        <img src="{{ url('<front>') }}/{{ directory }}/dist/images/promotions/promo_3.jpg" alt="">
                        <div class="pakage-rate">
                            <p>Form <span>$35</span></p>
                        </div>
                    </div>
                    <div class="promotions-details">
                        <h4>Special Dinner</h4>
                        <a href="#" class="read-more">Order now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--PROMOTIONS AREA END-->
